header {
    height: 115px;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.24);
}

#logo {  
    width: 260px;
    height: 85px;
    margin-top: 15px;
    margin-left: 15px;
}

#img-bg {
    background-image: url(./img/trator.png);
    height: 600px;
    background-size: cover;
}

h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 80px;
    transition: 0.2s;

    color: #000000;
}

h6:hover {
    font-size: 38px;
    transition: 0.2s;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

#sobre {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
}

#social {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
}

#social div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#social img {
    width: 61px;
    transition: 0.2s;
}

#social img:hover {
    width: 70px;
    transition: 0.2s;
}

.social-icon {
    margin-right: 25px;
}

footer {
    flex-direction: column-reverse;
    width: 100%;
    height: 110px;
    left: 0px;
    margin-top: 50px;

    background: #3C3C3C;
}

footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: start;
    font-size: 20px;
    line-height: 28px;
    

    color: #FFFFFF;
}

#text-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}